<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-dark text-white text-center">
      <h2>Catálogo de Productos - Examen EPIIS</h2>
    </div>
    <div class="card-body">
      <div class="mb-4">
        <label class="form-label fw-bold">Seleccione una Categoría:</label>
        <select class="form-select border-primary" (change)="onCategoryChange($event)">
          <option value="">-- Ver todas las opciones --</option>
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
        </select>
      </div>

      <table class="table table-hover border">
        <thead class="table-primary text-center">
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio Unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of products" class="text-center">
            <td>{{ prod.id }}</td>
            <td>{{ prod.name }}</td>
            <td class="fw-bold text-success">{{ prod.price | currency:'PEN':'S/ ' }}</td>
          </tr>
          <tr *ngIf="products.length === 0">
            <td colspan="3" class="text-center text-muted">Seleccione una categoría para ver productos.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>